.buttons{
    color: var(--color-accent);
   background-color: var(--color-brend); 
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    width: 200px;
    height: 50px;
    padding: 10px;

    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    cursor: pointer;
    border-radius: 4px;
    border-color: transparent;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus{
    color: var(--color-accent);
    background-color: #188ce8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    }

    @media screen and (min-width: 1200px) {
        width: 216px;
    }
    
}

