.hero{
    text-align: center;
    padding: 200px 0;
    
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
    ),  
    url('Header_img_mobile.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    height: 600px;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
}

.hero__caption{
    // color: var(--color-accent);
    font-weight: 900;
    
    text-align: center;
    font-size: 26px;
    line-height: 1.61;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    width: 360px;
    margin-top: 118px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width: 1200px) {
        font-size: 44px;
        line-height: 1.36;
        width: 696px;
        margin-top: 200px;
    }
}
