.mobile-menu { 
    position: fixed; 
    top: 0; 
    left: 0;  
    width: 100vw; 
    height: 100vh; 
    background-color: var(--color-accent); 
    z-index: 1; 
    transform: translateX(100%);
    transition-property: transform,opacity,visibility;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
     
    &.is-open { 
        opacity: 1;
        visibility: visible;
        pointer-events: initial;
        transform: translateX(0); 
    } 
 
    &__button-close { 
        position: absolute; 
        top: 10px; 
        right: 15px; 
        border: none; 
        background-color: var(--color-accent) 
    } 
} 

.mobile-menu__button-close:hover, 
.mobile-menu__button-close:focus { 
    fill:var(--color-brend); 
}  

.mobile-menu__container{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    min-width: auto;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    padding: 48px 40px;

    @media (min-width:320px) {
        overflow: 1;
    }
}
 
@media (min-width: 320px){
    .mobile-menu__items:not(:last-child) {
        margin-bottom: 32px;
    }
}

.mobile-menu__list{
    margin-bottom: auto;
}
 
.mobile-menu__link { 
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1); 
 
    color: inherit; 
 
    font-weight: 500; 
    font-size: 40px; 
    line-height: 1.18; 
    letter-spacing: 0.02em; 
    text-decoration: none; 
    display: flex; 
    align-items: center; 
    
    fill: var(--color-secondary); 
} 

.mobile-menu__link:hover, 
.mobile-menu__link:focus { 
    color: var(--color-brend); 

} 
.mobile-menu__contacts{ 
    margin: 0;
} 

.mobile-menu__auth-nav{
    margin: 0;
    padding: 0;
}
.mobile-menu__auth-nav-link { 
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1); 
 
    margin-bottom: 30px; 
    color: inherit; 
    display: block;

    line-height: 1.17;
    letter-spacing: 0.02em;
    text-align: start;
    text-transform: none;
    text-decoration: none;
 
    font-weight: 500; 
    font-size: 24px;  
    color: var(--color-secondary); 
 
    &:hover, 
    &:focus { 
        color: var(--color-brend); 
        fill: var(--color-brend); 
        font-size: 34px; 
        line-height: 1.18; 
    } 
} 

.mobile-menu__social{ 
    display: flex; 
    margin: 0;
    padding: 0; 
    gap: 10px;
} 

.mobile-menu__social-items{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
}

.mobile-menu__symbol{   
    width: 22px; 
    height: 0;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(33,33,33,0.2);
    border-radius: 0;
    transform: rotate(90deg);
    margin-left: 10px; 
}

.mobile-menu__social-link{ 
    color: var(--color-brend); 
    font-weight: 400; 
    font-size: 12px; 
    line-height: 1.22; 
    letter-spacing: 0.02em;
    text-decoration: none; 

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    text-align: start;
    text-transform: none;
    display: block;

    @media (min-width: 480px){
        font-weight: 500; 
        font-size: 18px; 
    }
}