.mobile-menu { 
    position: fixed; 
    top: 0; 
    left: 0; 
    display: none; 
    width: 100%; 
    height: 100%; 
    background-color: var(--color-accent); 
    padding: 48px 40px; 
    z-index: 1; 

    

}
.mobile-menu.is-open { 
    display: block;
} 

.mobile-menu__button-close { 
    position: absolute; 
    top: 10px; 
    right: 10px; 
    border: none;
    background-color: var(--color-accent);
    color: #000000;
} 

.mobile-menu__button-close:hover, 
.mobile-menu__button-close:focus{
    fill: var(--color-brend);
}

.mobile-menu__link{
    color: inherit;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.18;
    letter-spacing: 0.02em;

    text-decoration: none;

    padding-bottom: 32px;

    display: flex;
    align-items: center;
    fill: var(--color-secondary);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu__link:hover, 
.mobile-menu__link:focus{
   color: var(--color-brend);
    }

.mobile-menu__auth-nav{
    padding-top: 274px;
}

.mobile-menu__auth-nav-link{
    color: inherit;
    font-weight: 500;
    text-decoration: none;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    
    padding-bottom: 32px;
    
    display: flex;
    align-items: center;
    color: var(--color-secondary);
    
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

   

    
        &:hover, 
        &:focus{
            color: var(--color-brend);
            font-size: 34px;
            line-height: 1.18;
        }
}

.mobile-menu__social{
    display: flex;
    gap: 10px;
    padding-top: 32px;
}

.mobile-menu__social-link{
    color: var(--color-brend);

    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
  
}

.mobile-menu__symbol{
    padding-left: 10px;
    color: rgba(33, 33, 33, 0.2);
    height: 22px;
    transform: rotate(90deg);
}