.header { 
    position: fixed; 
    z-index: 1; 
    width: 100%; 
    top: 0; 
    left: 0; 
    display: block; 
    border-bottom: 1px solid #ececec; 
    background: var(--color-accent); 
        
} 
 
.header__nav { 
    display: flex; 
    align-items: center;    
} 
 
.header__wrapper { 
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    @media screen and (max-width: 767px) { 
            height: 60px; 
        } 
} 
.header__button { 
    display: inline-flex; 
    margin: 0; 
    padding: 0; 
    border: none; 
    background-color: transparent; 
     
    @media screen and (min-width: 768px) { 
        display: none; 
    } 
    } 
.site-nav { 
    display: flex; 
    margin-left: 93px;

    @media screen and (max-width: 767px) { 
        display: none; 
    } 
} 
 
.site-nav .site-nav__items:not(:last-child) { 
    margin-right: 50px; 
} 
.site-nav__link { 
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1); 
 
    padding-top: 32px; 
    padding-bottom: 32px; 
    color: inherit; 
 
    font-weight: 500; 
    text-decoration: none; 
    display: flex; 
    align-items: center; 
    gap: 10px; 
    fill: var(--color-secondary); 
    &:hover, 
    &:focus { 
    color: var(--color-brend); 
    fill: var(--color-brend) 
    } 
} 
 
.auth-nav { 
    display: flex; 
    margin-left: auto; 
    color: var(--color-secondary); 
         
    @media screen and (max-width: 768px) { 
        display: none; 
    } 
     @media screen and (min-width: 768px) { 
        display: block; 
        margin-top: 21px; 
        margin-bottom: 21px; 
     } 
         
    @media screen and (min-width: 1200px) { 
        display: flex; 
    } 
} 
 
.auth-nav__items { 
    margin-left: 50px; 
    @media screen and (max-width: 767px) { 
        padding-bottom: -10px; 
    } 
} 
 
.auth-nav__link { 
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1); 
 
    // padding-top: 32px; 
    padding-bottom: 10px; 
    color: inherit; 
 
    font-weight: 500; 
    text-decoration: none; 
    display: flex; 
    align-items: center; 
    gap: 10px; 
    fill: var(--color-secondary); 
    &:hover, 
    &:focus { 
    color: var(--color-brend); 
    fill: var(--color-brend) 
    } 
}


