.row{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.row__items:not(:last-child) {
    padding-right: 8px;
}

.row__button{
    color: var(--color-primery);
    background-color: #f5f4fa;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;  
    letter-spacing: 0.03em;
    cursor: pointer;

    border-radius: 4px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 22px;
    padding-right: 22px;
    border-color: transparent;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover, 
    &:focus{
        color: var(--color-accent);
        background-color: #2196f3;
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    }
}
