.portfolio-item{
    display: flex;
    flex-wrap: wrap;
}

.benefits{
    width: 370px;
    margin-right: 30px;
    margin-bottom: 30px;

    &:nth-child(3n){
        margin-right: 0;
    }
    
    &:nth-last-child(-n + 3){ 
        margin-bottom: 0; 
    }
}



.benefits__box{
    display: block;

    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus{
        background-color: var(--color-accent);
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }
}

.benefits__wrapper{
    position: relative;
    overflow: hidden;
}

.benefits__overlay{
    position: absolute;
    background-color: rgba(33, 150, 243, 0.9);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
   transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
   transform: translateY(100%);
}

.benefits__box:hover .benefits__overlay {
    transform: translateY(0);
    opacity: 1;
}

.benefits__text{
    font-weight: 400;
     font-size: 18px;
     line-height: 2;
     color: var(--color-accent);
     letter-spacing: 0.03em;
     padding: 63px 24px;
 } 

 .benefits__footer{
    padding: 20px 24px;
    border-bottom: 1px solid #eeeeee;
    border-left: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
}

.benefits__title{
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.benefits__subtitle{
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--color-secondary);
}