.clients{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
   
}

.clients__item{
    width:210px;
    height: 92px;

    @media (min-width: 768px){
        width: 226px;
    }

    @media (min-width: 1200px){
        width: 170px;
    }
        
}    



.clients__link{
    display: flex;
    width: 100%;
    height: 100%;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    fill: #afb1b8;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus{
        fill: var(--color-brend);
        border: 1px solid #2196f3;
    }
}

