.features{
    line-height: 1.71;

    @media (min-width: 768px){
        display: flex;
        flex-wrap: wrap;
        margin: -15px;
    }
}    

.features__wrapper{
    width: 100%;
    height: 120px;
    align-items: center;
    justify-content: center;
    background-color: #f5f4fa;
    margin-bottom: 30px;
    border-radius: 4px;
    display: flex;
}

.features__item{

    @media (min-width: 768px){
        flex-basis: calc((100% - 4 * 15px) / 2);
        margin: 15px;
    }

    @media (min-width: 1200px){
        flex-basis: calc((100% - 8 * 15px) / 4);
        margin: 15px;
    }
}

.features__title{
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.17;

    margin-bottom: 10px;

    text-align: center;

    @media (min-width: 768px){
        text-align: left;
    }
}

.features__text{
    color: var(--color-secondary);
    left: 0;

}