.section.activity{
    padding-top: 0;
    }
    
    .work{
        display: flex;
    }
    
    .work__item{
        text-align: center;
    
        border-radius: 0px 0px 4px 4px;
        background-color: var(--color-accent);
    
        position: relative;
    
        max-width: 100%;
        height: auto;
        display: block;

        &:not(:last-child) {
            margin-right: 30px;
        }
    }
    
    
    .work__wrapper{
        position: absolute;
        bottom: 0;
        left: 0;
        background: rgba(47, 48, 58, 0.8);
        width: 100%;
        height: 70px;
        align-items: center;
        justify-content: center;
        display: flex;
    }
    
    .work__title{
        color: var(--color-accent);
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
    }