.section--color{
    background: #f5f4fa;
}

.work{
    display: block;

    @media (min-width: 768px){
        display: flex;
        flex-wrap: wrap;
        margin: -15px;
    }

}

.team{
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    
    text-align: center;

    border-radius: 0px 0px 4px 4px;
    background-color: var(--color-accent);

    position: relative;

    max-width: 100%;
    height: auto;

    margin-bottom: 30px;

    @media (min-width: 768px){
        flex-basis: calc((100% - 4 * 15px) / 2);
        margin: 15px;
        margin-bottom: 0;
    }

    @media (min-width: 1200px){
        flex-basis: calc((100% - 8 * 15px) / 4);
        margin: 15px;
    }
}

.team__wrapper{
    padding-top: 30px;
    padding-bottom: 16px;
}
.team__name{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;

    padding-bottom: 10px;
}

.team__text{
    font-size: 16px;
    line-height: 1.19;
    color: var(--color-secondary);
    letter-spacing: 0.03em;
}

.social{
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    padding-bottom: 30px;
}

.social__nav{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    fill: #afb1b8;
    border-radius: 50%;
    background-color: var(--color-accent);

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus{
        fill: var(--color-accent);
        background-color: var(--color-brend);
    }
}
