body{
    color: var(--color-primery);
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin-top: 80px;
}

li {
    list-style: none;
}

h1,
h2,
h3,
p,
ul{
    margin: 0;
    padding: 0;
}