body{
    color: var(--color-primery);
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.03em;

    padding-top: 60px;

    @media (min-width: 768px){
        padding-top: 80px;
    }
}

li {
    list-style: none;
}

h1,
h2,
h3,
p,
ul{
    margin: 0;
    padding: 0;
}

img{
    max-width: 100%;
}